@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    overflow-x: hidden !important;
}

section.home {
    padding-left: 0px !important;
}

form {
    margin-right: 10px;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    padding: 20px 150px;
    background: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    width: auto;
    margin: 0 26px;
    padding: 7px 3px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    font-family: "TCCC Unity Text Medium", Verdana, Geneva, sans-serif;
    font-weight: bold;
    position: relative;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
    border-bottom: 1px solid #e6051f;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 100%;
    top: 90px;
    position: relative;
    background: #db3534;
    padding-right: 0;
}

.container>section {
    margin-bottom: 0;
    border-bottom: none;
    padding: 0px 0px 10px 80px;
    margin-bottom: 150px
}

.logo-coca,
.navbar-toggler>svg {
    fill: #fff;
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.logo {
    z-index: 1;
    width: 50px;
}

.logo>img {
    width: 70px;
}

.mb-10 {
    margin-bottom: 10px;
}

.input-group-text {
    min-width: 100px;
}

small {
    color: #fc0000;
    padding-left: 5px;
}

textarea {
    resize: none;
}

.mdi-window-close::before {
    display: none !important;
}

.btn-close {
    cursor: pointer;
}

.modal-header,
.modal-header:hover {
    transition: all .3s ease;
}

.modal.modal-static .modal-dialog {
    transition: all .2s ease;
    transform: scale(1.02);
    box-shadow: 0px 0px 20px #fc0000;
}

.modal-dialog-centered {
    min-height: 0;
    top: 20%;
}

.modal-dialog.modal-dialog-centered {
    margin: 1.75rem auto;
}

.iconMenu {
    display: none;
}

.center {
    text-align: center;
}

.doc>img {
    opacity: 50%;
    transition: all .3s ease;
}

.doc:hover>img {
    opacity: 100%;
    transition: all .3s ease;
}

#divSearch {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    width: 0px;
    height: 0px;
    z-index: 10000;
    opacity: 100%;
    transition: all .3s ease;
}

#divSearch.show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

.divClose {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 0px;
    width: 0px;
    transition: all .3s ease;
    visibility: hidden;
    opacity: 0;
}

.closeSearch {
    cursor: pointer;
}

#divSearch.show .divClose {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 50px;
    width: 50px;
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
}

.divClose>.mdi-window-close::before {
    display: block !important;
}

.fundSearch.show {
    opacity: .8;
    transition: all .3s ease;
}

.fundSearch.fade {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    width: 0px;
    height: 0px;
    background-color: #000;
    transition: all .3s ease;
}

#divSearch.show~.fundSearch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    transition: all .3s ease;
}

.fade {
    transition: opacity .15s linear;
}

.divClose>i {
    font-size: 40px;
    color: rgba(13, 202, 240, 1);
}

.search {
    width: 100%;
    font-size: 0px;
    padding: 0;
    border-radius: 10px;
    transition: all .3s ease;
    visibility: hidden;
    opacity: 0;
}

input.search:focus {
    border: 2px solid rgba(13, 202, 240, 1);
    border-radius: 10px;
    outline: 0;
    transition: all .3s ease;
}

.divSearch {
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    padding: 0;
    z-index: 999999;
}

.visibleHidde {
    opacity: 0;
    visibility: hidden;
}

.visibHid {
    opacity: 0;
}

#divSearch.show>.divSearch>.search {
    width: 100%;
    font-size: 30px;
    padding: 10px 20px;
    border: 2px solid rgba(13, 202, 240, .5);
    border-radius: 5px;
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
    background: #fff;
}

#divSearch.show>.divSearch {
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    padding: 100px;
    opacity: 1;
    z-index: 999999;
}

.d-none {
    display: none;
}

.pl {
    padding-left: 80px;
}

.plr {
    padding: 15px 40px;
}

.pr-200 {
    padding-right: 270px !important;
}

.navbar-nav>li {
    padding: 0px 10px;
}

.borderRadius {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 18px !important;
}

section {
    margin-bottom: 50px;
    border-bottom: none;
    padding: 10px 80px;
    text-align: center;
}

.form-control,
.form-control:focus {
    color: #fff;
}

.form-control.dangerInput {
    border-color: #fc0000 !important;
    box-shadow: 0 0 0 0.25rem rgba(252, 0, 0, 0.25);
}

.form-control.successInput {
    border-color: #08d24b !important;
    box-shadow: 0 0 0 0.25rem rgba(8, 210, 75, 0.25);
}

.form-control.treme {
    animation: treme 0.2s;
    animation-iteration-count: 3;
}

@keyframes treme {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 1px;
    }
    50% {
        margin-left: 0;
    }
    75% {
        margin-left: -1px;
    }
    100% {
        margin-left: 0;
    }
}

.pulsaPrimary:hover {
    box-shadow: 0 0 0 0 rgba(13, 110, 253, 1);
    transform: scale(1);
    animation: pulsePrimary 2s;
}

.pulsaSuccess:hover {
    box-shadow: 0 0 0 0 rgba(8, 210, 75, 1);
    transform: scale(1);
    animation: pulseSuccess 2s;
}

.pulsaInfo:hover {
    box-shadow: 0 0 0 0 rgba(13, 202, 240, 1);
    transform: scale(1);
    animation: pulseInfo 2s;
}

.pulsaDanger:hover {
    box-shadow: 0 0 0 0 rgba(252, 0, 0, 1);
    transform: scale(1);
    animation: pulseDanger 2s;
}

@keyframes pulseSuccess {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(8, 210, 75, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(8, 210, 75, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(8, 210, 75, 0);
    }
}

@keyframes pulsePrimary {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(13, 110, 253, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(13, 110, 253, 0);
    }
}

@keyframes pulseInfo {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(13, 202, 240, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(13, 202, 240, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(13, 202, 240, 0);
    }
}

@keyframes pulseDanger {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(252, 0, 0, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(252, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(252, 0, 0, 0);
    }
}

.btn-success {
    background: #08d24b !important;
    border-color: #08d24b !important;
}

.text-success {
    color: #08d24b !important;
}

.fs-14 {
    font-size: 14px !important;
}

.gap-2 {
    gap: 1.5rem!important;
}

.carousel {
    margin-bottom: 0px;
}

.carousel-item {
    height: 700px;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 700px;
}

.carousel-caption {
    bottom: 200px;
    z-index: 10;
}

.carousel-caption h1 {
    margin-bottom: 30px;
}

.carousel-caption p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 50px;
}

.carousel-caption a {
    padding: 10px 30px;
}

#boxesClientes img {
    max-width: 150px;
    filter: grayscale(90%);
    opacity: .5;
    transition: all .3s ease;
}

#boxesClientes img:hover {
    max-width: 150px;
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s ease;
}

.btn {
    transition: all .3s ease;
    min-width: 30px;
    border-radius: 3px;
}

.tabela {
    height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 0%;
    width: 100%;
}

.table {
    margin-bottom: 0px !important;
}

.btn:hover {
    transition: all .3s ease;
}

#email {
    background: transparent;
    border-color: #b7dbe23b;
}

#boxesServicos {
    padding-bottom: 50px;
}

.padding-45 {
    padding: 0 45px;
}

a.btn-info {
    color: #fff;
    margin-right: 20px;
    transition: all .3s ease;
}

a.btn-default {
    color: #fff;
    margin-right: 20px;
    border: 1px solid #fff;
    transition: all .3s ease;
}

.btn-default:hover,
.btn-info:hover {
    transition: all .3s ease;
}

.bg-box {
    background: rgb(45, 122, 209);
    box-shadow: 1px 5px 15px #999;
}

.col-lg-4 {
    padding: 0px;
    border-radius: 3px;
}

.col-lg-4>i {
    font-size: 50px;
}

.texto {
    font-size: 12px;
    line-height: 25px;
}

.lead {
    font-size: 14px;
    color: rgb(184, 178, 178);
    margin-bottom: 40px;
}

.img-fluid {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-size: medium;
    max-width: 100%;
    height: auto;
}

.px-4 {
    padding-right: 0px !important;
    padding-left: 1.5rem!important;
}

.py-5 {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.py-3 {
    padding: 10px 160px;
    margin: 10px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: all .3s ease;
}

.foneEmail {
    color: #000;
    transition: all .3s ease;
}

.foneEmail:hover {
    transition: all .3s ease;
}

footer>ul>li>a:hover {
    transition: all .3s ease;
    color: #ffcc00;
}

.text-footer-center {
    color: rgb(184, 178, 178) !important;
}

.bottom {
    background: #201e1e;
    margin-bottom: 0;
    position: absolute;
    bottom: -235px;
    width: 100%;
}

.titulo {
    font-family: "TCCC Unity Text Bold", Verdana, Geneva, sans-serif;
    font-size: 40px;
    letter-spacing: .01em;
    color: #fff;
}

@media (max-width: 991.98px) {
    body {
        overflow-x: hidden;
        position: relative;
    }
    form {
        margin-right: 0px;
    }
    .fixed-top {
        position: absolute;
        padding: 0px;
        background: #fff;
    }
    .pl {
        padding-left: 0px;
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;
    }
    .container {
        width: 100%;
        max-width: 100%;
        top: 10px;
        position: relative;
        background: #db3534;
        padding-right: 0;
        padding-left: 0;
    }
    .container.listagem {
        width: 100%;
        max-width: 100%;
        top: 10px;
        position: relative;
        background: #201e1e;
        padding-right: 0;
        padding-left: 0;
    }
    .container.novo {
        width: 100%;
        max-width: 100%;
        top: 10px;
        position: relative;
        background: #db3534;
        padding-right: 0;
        padding-left: 0;
    }
    .container>section {
        margin-bottom: 0;
        border-bottom: none;
        padding: 0px 0px 0px 0px;
        margin-bottom: 0px
    }
    .px-4 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .text-center {
        padding-left: 30% !important;
    }
    .col-lg-4 {
        padding: 0px;
        border-radius: 3px;
        margin-top: 0px !important;
        margin-bottom: 50px;
    }
    .col-lg-4.novo {
        padding: 20px 20px 30px 20px;
    }
    .titulo {
        font-family: "TCCC Unity Text Bold", Verdana, Geneva, sans-serif;
        font-size: 40px;
        letter-spacing: .01em;
        color: #fff;
        padding-left: 50px;
    }
    section {
        border-bottom: 1px solid #f3f3f3;
        padding: 10px;
        width: 95%;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 112px;
    }
    section.home {
        border-bottom: none;
        padding: 0px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .carousel-caption a {
        padding: 5px 10px;
    }
    .bottom {
        background: #201e1e;
        margin-bottom: 0;
        position: absolute;
        bottom: -40px;
        width: 100%;
        margin-left: 0;
    }
    .bottom.listagem {
        background: #db3534;
        margin-bottom: 0;
        position: absolute;
        bottom: -137px;
        width: 100%;
        margin-left: 0;
    }
    body {
        background: #000;
    }
    .bottom.novo {
        background: #201e1e;
        margin-bottom: 0;
        position: absolute;
        bottom: -58px;
        width: 100%;
        margin-left: 0;
    }
    .bottom.home {
        background: #201e1e;
        margin-bottom: 0;
        position: absolute;
        bottom: -70px;
        width: 100%;
        margin-left: 0;
    }
    .Wave-module__wrapper--1-9Ka {
        position: absolute;
        bottom: 188px;
        --wave-top-color: transparent;
        --wave-center-color: #fff;
        --wave-bottom-color: #201e1e;
    }
    .Wave-module__wrapper--1-9Ka.home {
        position: relative;
        bottom: 70px;
        --wave-top-color: transparent;
        --wave-center-color: #fff;
        --wave-bottom-color: #201e1e;
    }
    .Wave-module__wrapper--1-9Ka.listagem {
        position: relative;
        bottom: 22px;
        --wave-top-color: transparent;
        --wave-center-color: #fff;
        --wave-bottom-color: #db3534;
    }
    .Wave-module__wrapper--1-9Ka.novo {
        position: relative;
        bottom: 70px;
        --wave-top-color: transparent;
        --wave-center-color: #fff;
        --wave-bottom-color: #201e1e;
    }
    .listaMobile {
        margin-top: 0px !important;
    }
    .btn {
        font-size: 13px;
        min-width: 30px;
    }
    a.btn-default {
        color: #fff;
        margin-right: 10px;
        border: 1px solid #fff;
    }
    .newsletter {
        background: #16223c;
        margin-bottom: 0;
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    .carousel-item,
    .carousel-item>img {
        height: 500px;
    }
    .carousel {
        top: 0px;
    }
    .carousel-caption {
        bottom: 40px;
        z-index: 10;
    }
    .col-lg-3 {
        width: 50%;
    }
    .padding-45 {
        padding: 10px;
    }
    .lead {
        text-align: justify;
    }
    .py-3 {
        padding: 10px 10px;
        margin: 10px;
    }
    .align-items-center {
        text-align: center;
    }
    .d-flex {
        display: block !important;
    }
    .footP {
        margin: 30px !important;
    }
    .row>* {}
    .modal .col-md-6 {
        width: 50%;
    }
    .modal-dialog.modal-dialog-centered {
        max-width: 500px;
        margin: .5rem;
    }
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .liSearch {
        display: none;
    }
    .borderRadius {
        border: none;
        border-radius: 0px;
        padding: 0 !important;
    }
    header .nav-item {
        padding: 5px 20px 5px 20px!important;
        border-bottom: 1px solid #f3f3f3;
    }
    .nav-item:hover {
        padding: 5px 20px 5px 20px!important;
        border-bottom: 1px solid #f3f3f3;
        background: #f3f3f3;
    }
    header .nav-item:last-child {
        padding: 5px 20px 10px 20px!important;
        border-bottom: none;
    }
    .mb-2 {
        margin-bottom: .5rem!important;
        margin-top: 15px;
    }
    .iconMenu {
        font-size: 22px;
        position: absolute;
        right: 0px;
        top: 0;
        display: block;
    }
    .navbar img {
        margin: 10px;
    }
    #divSearch.show>.divSearch {
        top: 10%;
        left: 0%;
        right: 0;
        padding: 20px;
    }
    #divSearch.show>.divSearch>.search {
        font-size: 20px;
    }
    #divSearch.show .divClose {
        right: 5px;
        top: 5px;
    }
    .logo-coca,
    .navbar-toggler>svg {
        display: none;
    }
    .logo {
        z-index: 1;
        width: 70px;
    }
    .logo-coca,
    .navbar-toggler>svg {
        fill: #fff;
        display: block;
        width: 100%;
    }
    .tabela {
        height: 400px;
        margin: 0;
    }
    .row {
        margin: 0;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
    }
}

@media (min-width: 576px) {
    .modal-dialog.modal-dialog-centered {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 991.98px) and (orientation: landscape) {
    .row {
        margin: 0 !important;
    }
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
    }
    .bottom {
        background: #201e1e;
        margin-bottom: 0;
        position: relative;
        bottom: -70px;
        width: 100%;
    }
    .bottom.listagem {
        background: #db3534;
        margin-bottom: 0;
        position: absolute;
        bottom: -150px;
        width: 100%;
        margin-left: 0;
    }
    .bottom.novo {
        background: #201e1e;
        margin-bottom: 0;
        position: absolute;
        bottom: -58px;
        width: 100%;
        margin-left: 0;
    }
    .col-lg-4 {
        padding: 0px;
        border-radius: 3px;
        margin-top: 30px !important;
        margin-bottom: 80px;
    }
    .col-lg-4.novo {
        margin-bottom: 200px;
    }
    .Wave-module__wrapper--1-9Ka {
        position: relative;
        bottom: 280px;
        --wave-top-color: transparent;
        --wave-center-color: #fff;
        --wave-bottom-color: #201e1e;
        margin-bottom: -140px;
    }
    .Wave-module__wrapper--1-9Ka.home {
        position: relative;
        bottom: 174px;
        --wave-top-color: transparent;
        --wave-center-color: #fff;
        --wave-bottom-color: #201e1e;
    }
    .Wave-module__wrapper--1-9Ka.listagem {
        position: relative;
        bottom: 145px;
        --wave-top-color: transparent;
        --wave-center-color: #fff;
        --wave-bottom-color: #db3534;
    }
    .Wave-module__wrapper--1-9Ka.novo {
        position: relative;
        bottom: 230px;
        --wave-top-color: transparent;
        --wave-center-color: #fff;
        --wave-bottom-color: #201e1e;
    }
    .col-lg-4 {
        margin-top: 0 !important;
    }
    .tabela {
        height: 400px;
        margin: 0;
        margin-bottom: 150px;
    }
    .titulo {
        font-size: 30px;
        padding: 20px;
    }
    .text-center {
        padding-left: 40% !important;
    }
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 6px;
    background-clip: padding-box;
    border: 2px solid transparent;
    transition: color .3s ease;
}

body::-webkit-scrollbar-thumb:hover {
    color: rgba(219, 53, 52, 1);
    transition: color .3s ease;
}

body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
    color: rgba(219, 53, 52, .7);
    transition: color .3s ease;
}

body {
    overflow: auto;
}

.Wave-module__wrapper--1-9Ka {
    --wave-top-color: transparent;
    --wave-center-color: #fff;
    --wave-bottom-color: #201e1e;
    position: absolute;
    bottom: -110px;
}

.tabela::-webkit-scrollbar,
.tabela::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-clip: padding-box;
    border: 2px solid transparent;
    transition: color .3s ease;
}

.tabela td {
    vertical-align: middle;
}

.tabela::-webkit-scrollbar-thumb:hover {
    color: rgba(0, 0, 0, 1);
    transition: color .3s ease;
}

.tabela::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
    color: rgba(0, 0, 0, .7);
    transition: color .3s ease;
}

th {
    position: sticky;
    top: 0px !important;
}